<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.MeetingDao">
    <select id="domesticnum" resultType="int">
        select count(1) from t_meeting a where a.meetingtype=#{meet.meetingtype}
    </select>

    <select id="initdomestic" resultType="com.jk.pojo.MeetingBean">
        select a.*,b.productname from t_meeting a left join t_product b on a.productid=b.productid where a.meetingtype=#{meet.meetingtype} limit #{open},#{rows}
    </select>

    <select id="abroadnum" resultType="int">
        select count(1) from t_meeting a where a.meetingtype=#{meetingtype}
    </select>

    <select id="initabroad" resultType="com.jk.pojo.MeetingBean">
        select * from t_meeting a left join t_product b on a.productid=b.productid where a.meetingtype=#{meetingtype} limit #{open},#{rows}
    </select>

    <select id="findMeetingById" resultType="com.jk.pojo.MeetingBean">
        select * from t_meeting where meetingid=#{id}
    </select>

    <delete id="delMeeting">
        delete from t_meeting where meetingid=#{id}
    </delete>

    <insert id="addMeeting">
        insert into t_meeting (meetingname,meetingaddress,units,meetingstatus,productid,meetingtype,attend,accompany,remarks,opendate,enddate) values(#{meetingname},#{meetingaddress},#{units},1,#{productid},#{meetingtype},#{attend},#{accompany},#{remarks},#{opendate},#{enddate})
    </insert>

    <update id="updMeeting">
        update t_meeting set meetingname=#{meetingname},meetingaddress=#{meetingaddress},units=#{units},productid=#{productid},meetingtype=#{meetingtype},attend=#{attend},accompany=#{accompany},remarks=#{remarks},opendate=#{opendate},enddate=#{enddate} where meetingid=#{id}
    </update>
</mapper>